* {
  /* outline: 1px solid #55bbff; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ul {
  list-style: none;
} */

.root_container {
  background-image: url(https://i.ibb.co/LS6F4VR/back.jpg);
}

.make_space {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/*****************HEADER*****************/
.header_container {
  background-color: #717171;
  margin-bottom: 12px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo_container {
  width: 250px;
}

.title {
  font-size: 2vh;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*****************MAIN*****************/
.traid_section,
.assembling_section,
.work_section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding: 10px 10px 10px 10px;
  border: 2px solid #76aca4;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.349);
  font-size: 24px;
}

.traid_section:hover,
.assembling_section:hover,
.work_section:hover {
  box-shadow: 5px 10px 20px 2px rgba(0, 0, 0, 0.87);
}

.assembling_section {
  flex-direction: row-reverse;
}

.traid_section img,
.assembling_section img,
.work_section img {
  max-width: 35%;
  border-radius: 16px;
}

.traidDescr_container,
.assemblingDescr_container,
.workDescr_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 32px;
}

/*****************FOOTER*****************/
.footer_container {
  background-color: #272727;
}

.footer {
  height: 16vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aqua;
}

.contacts {
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  list-style: none;
}

.contacts img {
  display: block;
  max-width: 30px;
  height: auto;
}
